@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Roboto&family=Roboto+Condensed&family=Lilita+One&display=swap');

body {
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Lilita One', sans-serif;
}

.brandonbig {
    /** another font to use is possibly Source Code Pro font. These here are unused fonts. **/
    /** font-family: 'Source Code Pro', monospace; **/
    /** font-family: 'Source Sans 3', sans-serif ; **/
    /**font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; **/

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    /** this also looks nice **/
    /** font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; **/
    text-decoration: underline;
    font-size: 50px;
    font-weight: bold;
    color: rgb(116, 111, 111);
    -webkit-text-stroke: 1px black;
    color: transparent;
}

.infosummary {
    font-size: 23px;
}

.aboutme {
    font-size: 18px;
}

::selection {
    background-color: rgb(255, 0, 0);
    color: hotpink;
    z-index: 1;
}

p {
    font-size: 21px;
    color: rgb(100, 100, 100);
}

.imagehover {
    transition: all ease-in-out 0.3s;
}

.imagehover:hover {
    transition: all ease-in-out 0.3s;
    transform: scale(1.55) rotate(20deg) translateY(-16px);
}

a:hover {
    transition: 1.5s;
    color: hotpink;
}

a {
    color: rgb(211, 179, 0);
}

footer {
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

#typed {
    display: inline-block;
    -webkit-text-stroke: 1.5px rgb(163, 114, 15);
    color: transparent;
}

.abtme,
.autism {
    display: inline-block;
    font-family: 'Anonymous Pro', monospace;
    /** font-family: 'Roboto Condensed', sans-serif; **/
}

.socials {
    position: absolute;
    right: 150px;
    font-size: 24px;
}

.myself {
    border: 8.8px solid rgb(117, 117, 114);
    border-style: dashed;
    margin-right: 900px;
    transition: all ease-in-out 0.3s;
}

.myself:hover {
    transition: all ease-in-out 0.45s;
    transform: scale(2.34) rotate(20deg) translateY(-16px);
    opacity: 0.84;
}

.typed-cursor {
    color: green;
}

#redfilled {
    color: red;
    -webkit-text-stroke: 1.5px;
    text-decoration: underline;
}

/** The scrollbar **/
::-webkit-scrollbar {
    width: 9.5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(54, 53, 53);
    border-radius: 5px;
}

/** changes the color of the track background used for the track **/
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(44, 41, 41);
}

::-webkit-scrollbar-track {
    background-color: rgb(168, 164, 164);
}