@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Roboto&family=Roboto+Condensed&family=Lilita+One&display=swap');

body {
    text-align: center;
    text-wrap: balance;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h3 {
    font-family: 'Anonymous Pro', monospace;
}

#typed {
    display: inline;
}

h2 {
    font-family: 'Lilita One', sans-serif;
}

.brandonbig {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(116, 111, 111);
    color: transparent;
}

#redfilled {
    color: red;
    -webkit-text-stroke: 1.5px;
    text-decoration: underline;
}

::selection {
    background-color: rgb(255, 0, 0);
    color: hotpink;
    z-index: 1;
}

#typed {
    font-size: 24px;
}

footer {
    background-color: black;
    color: white;
}

li {
    font-size: 20px;
}